<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="/css/style.css" />
  </head>
<body>
  <article id="no186">
    <header>
      <h1>#<%= id %> <%= word %><small>♪<%= pronounce %></small></h1>
      <p><%= title %></p>
    </header>
    <section>
      <%- body %>
    </section>
  </article>
</body>
</html>
